* {
    width: auto;
    margin: 0;  
}

.hero {
    background-image: url("/assets/images/TheaterStage.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #e6a152;
    text-align: center;
    padding: 15px;
    font-family: broadway;
    width: auto;
    background-color: black;
} 

hr {
    border-color: #e6a152;
    width: 100%;
}

#quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin-top: 250px;
    background-color: black;
    border-style: double;
    border-color: #e6a152;
    border-radius: 4px;
}

#quiz-box p {
    font-size: 20px;
    color: #e6a152;
}

.question-here {
    display: none;
    background-color: black;
    text-align: center;
    line-height: auto;
    font-size: 20px;
    color: #e6a152;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;    
}

.buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.options {
    border-radius: 4px;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: #e6a152;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 80%
}

.options:hover, .options text:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}

.options:active, .options text:active {
    background-color:rgb(243, 221, 125)
}

.quiz-deets {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding-top: 20px;
}

.quiz-deets #progress {
    color: #e6a152;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;  
}

.quiz-deets #countdown {
    color: #e6a152;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
}


.button-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: auto;
    text-align: center;
    gap: 20px;
 }

#start-button {
    color:black;
    font-family: broadway;
    font-size: 16px;
    font-weight: bold;
    background-color: #e6a152;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
}

#reset-button {
    color:black;
    font-family: broadway;
    font-size: 16px;
    font-weight: bold;
    background-color: #e6a152;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
}



#final-display {
    display: none;
    justify-content: center;
    align-items: center;

}

form {
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
} 

#initials placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e6a152;
    color:black;
    width: 20px;
}

button #enter-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e6a152;
    color:black;
    border-radius: 5px;
  
}

#score {
    color:#e6a152;
    text-align: center;
    margin-bottom: 10px;
}

#opening-display {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
 }

#opening-display p{
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.guess-result {
    display: none;
    justify-content: center;
    align-items: center;
    color:#e6a152;
    width: auto;
    text-align: center;
    margin-top: 20px;
}

.quiz-repeat {
    text-align: center;
}